body {
  margin: 0;
  background: #eaeaea;
  font-family: sans-serif;
  height: 150vh;
}

nav {
  background: #88B740;
  width: 100%;
  height: 5rem;
  color: #fff;
}

nav a:first-child {
   float: left;
 }

nav ul li {
  list-style-type: none;
  display: inline-block;
}

.navigation-list, .user-options {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  width: 525px;
}

.nav-wrapper-1, .nav-wrapper-2 {
  float: left;
}

header {
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background: #fff;
  border-radius: 5px;
  width: 1100px;
  margin: 1rem auto;
}

.header-wrapper-1 {
  background: linear-gradient(to right, rgba(13,130,100, 0.6), rgba(13,54,140, 0.7));
  padding-top: 5%;
}

.all-photos-btn {
  float: right;
  background: rgba(0,0,0,0.2);
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  margin: 1rem;
}

.company-logo-img {
  height: 90px;
  width: 90px;
  border: 1px solid #fff;
  position: relative;
  top: 4rem;
  left: 1rem;
}

header h2 {
  font-size: 2rem;
  width: 25rem;
  margin: 0 0 0 10%;
  color: #fff;
  font-family: sans-serif;
}

header h3 {
  display: inline-block;
  position: relative;
  top: 3.5rem;
  left: 2rem;
}

.tab-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
  width: 72%;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-top: 1px solid rgba(0,0,0,0.5);
}

.tab-list a {
  border-right: 1px solid rgba(0,0,0,0.5);
}

.tab-list a:last-child {
  border-right: none;
}

.company-tabs li {
  list-style-type: none;
  display: flex;
  padding: 2rem 3rem;
  box-sizing: border-box;
  width: calc(100%/7);
}

.header-wrapper-2 {
  margin-top: 4rem;
}

main {
  width: 1100px;
  margin: 1rem auto;
}

.overview-start-section {
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background: #fff;
  border-radius: 5px;
  width: 45rem;
  padding: 1rem;
  float: left;
}

.overview-start-section h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: lighter;
}

.overview-start-section ul {
  padding: 0;
  display: inline-block;
}

.overview-start-section li {
  list-style-type: none;
}

.overview-start-section li em {
  font-weight: bolder;
  font-style: normal;
  margin-right: 3rem;
  width: 100px;
  display: inline-block;
}

.company-overview-info-1 {
  margin-right: 5%;
}

aside {
  width: 20.6rem;
  float: left;
  margin-left: 1rem;
}

aside div {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

aside div:first-child {
  margin-top: 0;
}
