@import 'https://fonts.googleapis.com/css?family=Francois+One|Gravitas+One|Permanent+Marker|Londrina+Solid|Londrina+Shadow|Space+Mono';
body {
  margin: 0
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 400px;
  overflow: hidden;
}

header i {
  padding: 40px;
  display: flex;
  color: #0c9af6;
}

.star-div {
  font-size: 1.5rem;
}

h1 {
  position: absolute;
  top: 15vh;
  font-family: 'Permanent Marker';
  font-size: 4rem;
  font-weight: 700;
  z-index: 5;
}

h1 span {
  color: #E70606;
  font-family: Anton;
}

h1 span:last-child {
  color: #0c9af6;
}

.letter-div-wrapper {
  background: #0c9af6;
  padding: 7rem 0 ;
}

.letter-div {
  background: #fff;
  width: 70%;
  max-width: 750px;
  padding: 3rem;
  font-family: 'Space Mono';
  margin: 0 auto;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

.letter-div img {
  width: 350px;
}

.letter-div ul {
  font-family: sans-serif;
  font-size: 0.7rem;
  line-height: 1.1rem;
  color: #c4c3c3;
  padding: 0;
  margin: 0;
}

.letter-div li {
  list-style-type: none;
}

h3 {
  position: relative;
  bottom: 4rem;
  left: 3rem;
  width: 500px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: bolder;
}

#marquee-container {
  position: static;
  background: #E70606;
  color: #fff;
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
}

#marquee-container span {
  color: #fff;
  display: block;
  font-size: 6rem;
  text-transform: uppercase;
  animation: continuousScroll 15s linear infinite;
  float: left;
}

@keyframes continuousScroll {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marginalized-container {
  font-size: 4rem;
  padding: 2rem;
  font-family: 'Londrina Shadow';
  color: #0c9af6;
}

.marginalized-container p {
  width: 80%;
  margin: 0 auto;
}

.marginalized-container .blink {
  color: #E70606;
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    font-family: 'Londrina Shadow'
  }
  to {
    font-family: 'Londrina Solid'
  }
}
